{% extends "layout.html" %}

{% block head %}
    <title>Sobre-Rafael nunes</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
{% endblock %}  

{% block content %}

    <div id="wrapper">
        <img src="https://avatars3.githubusercontent.com/u/32659691?s=400&u=c98ef8a24ad59e90647718b8c4b8ca3287770d08&v=4" alt="Rafael Nunes">
        <h1>Rafael Nunes dos Santos</h1>
        <h2>FULLSTACK DEVELOPER</h2>
        <p>Fico Feliz por estar aqui.<br>
        Ola, Meu nome é Rafael, atualmente moro em Campinas/Sp,
         Sou amante de Jazz, Blues e Musicas Classicas.
         Estou no inicio de minha trajetoria como desenvolvedor.
         sou apaixonado pelo mundo da tecnologia por este motivo estudo todos os dias para
         apromorar meus conhecimentos e realizar o sonho de 
          me tornar um desenvolvedor full-stack

    </p>
        <div class="botoes">
            <div class="Btn_know" id="oy2zDJPIgwc">            
                <a class="Btn_link" href="#">Clique aqui e Me conheça Melhor</a>                                    
            </div>
            <div class="Btn_know" id="0Fy7opKu46c">            
                <a class="Btn_link" href="#">Click here and Know me Better</a>                                    
            </div>
        </div>
    </div>

    

    <div id="links-footer" class="links">
        <a href="https://github.com/rafaelnunes93" target="_blank">
            <img src="https://icons.iconarchive.com/icons/papirus-team/papirus-apps/256/github-icon.png" alt="">      
            
        </a>        
        <a href="https://www.linkedin.com/in/rafael-nunes-dos-santos-979b9b15a/" target="_blank">
            <img src="https://oficinadainteligencia.com.br/wp-content/uploads/2019/04/simple-icon-linkedin-white.png" alt="">
           
        </a>
       
        <a href="https://www.facebook.com/rafael.nunes.756412" target="_blank">
            <img src="https://www.thenightministry.org/images/white-fb-icon-facebook.png" alt="">
           
        </a>
        
    </div>   

<div class="modal-overlay ">
    <div class="modal">
        <a class="close-modal">
            <i class="material-icons md-24">close</i>
        </a>

        <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>
        </div>
        
    </div>

</div>
    
<script src="/modal.js"></script>
{% endblock %}