<!DOCTYPE html>
<html>
<head>
    <title>Rafael nunes</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="../Styles/HomePor.css" />
    <link rel="stylesheet" href="../Styles/experiencias.css"/>
</head>

<body> 
    <header>
        <div class="links">
        <a href="../index.html">Sobre</a>
        <a href="Portifolio.html">Portifolio</a>
        <a href="./Habilidades.html">Habilidades</a>
        <a href="./Experiencias.html">Experiências</a>
        <a href="./Contato.html">Contato</a>
        </div>            
    </header>

    <div id="wrapper">
        <h1>Experiencias</h1>
        <p>Veja minha Historia|comece la de baixo </p>
        </div>


        <div class="timeline">
            <ul>
                <li>
                    <div class="content">
                        <h3>Estagio</h3>
                        <p>
                            Nos ultimo semestre da faculdade, conseguiu um Estagio
                            como desenvolvedor/suporte.
                            Em uma empresa chamada online application
                           
                        </p>
                    </div>
                    <div class="time">
                        <h4>Agosto 2019</h4>
                    </div>
                </li>
                <!-- ///////////////////////////////////////////////////////////////// -->
                <li>
                    <div class="content">
                        <h3>Segunda Faculdade ?</h3>
                        <p>
                            Não satisfeito em ter apenas um curso Tecnologo,
                            deside que e hora fazer outra faculdade...
                            E mais uma vez a escolhida seria a UNIP.Porem desta vez 
                            no curso de Ciencia da Computação 
                           
                        </p>
                    </div>
                    <div class="time">
                        <h4>fevereiro 2014</h4>
                    </div>
                </li>
                <!-- ///////////////////////////////////////////////////////////////// -->

                <li>
                    <div class="content">
                        <h3>Curso de Inglês</h3>
                        <p>Sempre foi apaixonado pelo idioma,
                            e apos ganhar uma bolsa de estudos em uma escola de idiomas,
                            não pensou 2 vezes,  abracou a oportunidade e iniciou o curso no qual se 
                            manteve por 5 anos.
                        </p>
                    </div>
                    <div class="time">
                        <h4>Março 2013</h4>
                    </div>
                </li>
                <!-- ///////////////////////////////////////////////////////////////// -->

                <li>
                    <div class="content">
                        <h3>Curso Tecnoloco em Tecnologia da Informação</h3>
                        <p>Pensando em se tornar um grande programador, ingressa no curso 
                            Tecnologo em Gestão da tecnologia da Informação pela
                            Universidade Paulista Unip
                        </p>
                    </div>
                    <div class="time">
                        <h4>Fevereiro 2012</h4>
                    </div>
                </li>
                <!-- ///////////////////////////////////////////////////////////////// -->

                <li>
                    <div class="content">
                        <h3>Conclusão Ensino Medio</h3>
                        <p>Após Anos de estudo, Finalmente conclui o ensino Medio
                        </p>
                    </div>
                    <div class="time">
                        <h4>Dezembro 2011</h4>
                    </div>
                </li>
                <!-- ///////////////////////////////////////////////////////////////// -->
                <li>
                    <div class="content">
                        <h3>Primeiro Trabalho</h3>
                        <p>Ja pensando no futuro, Pede a seu pai que lhe deixe trabalhar na distribuidora
                           de bebidas na qual era proprietario.
                        </p>
                    </div>
                    <div class="time">
                        <h4>??/2007</h4>
                    </div>
                </li>
                <!-- ///////////////////////////////////////////////////////////////// -->

                <li>
                    <div class="content">
                        <h3>Nacimento</h3>
                        <p>
                            Para a alegria de seus pais, nasce neste dia inesquecível, em uma pequena cidade
                            no interior da Bahia, este menino cujo nome seria:<br>
                
                            Rafael Nunes dos Santos
                        </p>
                    </div>
                    <div class="time">
                        <h4>28/06/1993</h4>
                    </div>
                </li>
                <!-- ///////////////////////////////////////////////////////////////// -->
                    <div style="clear: both;"></div>

            </ul>

        </div>








</body>

</html>