<!DOCTYPE html>
<html>
<head>

    {% block head %}
        <title>Rafael nunes</title>
    {% endblock %}
    
    
    <link rel="stylesheet" href="/HomePor.css" />
</head>

<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portifolio">Portifolio</a>
            <a href="/Habilidades">Habilidades</a>
            <a href="/Experiencias">Experiências</a>
            <a href="/Contato">Contato</a>
            </div>            
    </header>

    {% block content %}


    {% endblock %}


</body>


</html>